:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 430px;
  height: 932px;
  margin: 0 auto;
  font-size: 0px;
  background: #00070d;
  overflow: hidden;
  border-radius: 40px;
}
.most-popular {
  display: block;
  position: relative;
  height: 22px;
  margin: 365px 0 0 16px;
  color: #ffffff;
  font-family: Urbanist, var(--default-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 38;
}
.flex-row-f {
  position: absolute;
  height: 1076.18px;
  top: -144.18px;
  right: 0;
  left: -118.561px;
  z-index: 88;
}
.ellipse {
  position: absolute;
  width: 379.492px;
  height: 366.057px;
  top: 0;
  left: 0;
  background: url(https://static.codia.ai/image/2025-03-12/c9c9870e-8672-4979-bb3d-080329cbcaa8.svg)
    no-repeat center;
  background-size: cover;
  filter: blur(72px);
}
.status-bar {
  position: absolute;
  width: 430px;
  height: 54px;
  top: 144.18px;
  left: 118.561px;
  z-index: 17;
}
.image {
  position: absolute;
  width: 429px;
  height: 932px;
  top: 0;
  left: 0;
  background: url(./assets/images/8075fd1c-5e84-4bb7-ad88-cc79ff256456.png)
    no-repeat center;
  background-size: cover;
  z-index: 18;
}
.time {
  position: absolute;
  width: 32.67%;
  height: 54px;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  z-index: 19;
}
.time-1 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 26.33%;
  height: 40.74%;
  top: 33.96%;
  left: 29.84%;
  color: #f6f6f6;
  font-family: SF Pro, var(--default-font-family);
  font-size: 17px;
  font-weight: 590;
  line-height: 22px;
  text-align: center;
  white-space: nowrap;
  z-index: 20;
}
.levels {
  position: absolute;
  width: 32.67%;
  height: 54px;
  top: 50%;
  left: 67.21%;
  background: url(https://static.codia.ai/image/2025-03-12/87b2dc8b-51c8-4628-9268-c2c654d48ef0.svg)
    no-repeat center;
  background-size: cover;
  transform: translate(0, -50%);
  z-index: 21;
}
.rectangle {
  position: absolute;
  width: 430px;
  height: 932px;
  top: 144.18px;
  left: 118.561px;
  background: rgba(0, 0, 0, 0.9);
  z-index: 81;
}
.frame {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: absolute;
  width: 398px;
  height: 48px;
  top: 216.18px;
  left: 134.561px;
  z-index: 22;
}
.group {
  flex-shrink: 0;
  position: relative;
  width: 48px;
  height: 48px;
  z-index: 23;
}
.image-2 {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0;
  left: 0;
  background: url(https://static.codia.ai/image/2025-03-12/67f17d44-f20b-4f32-99d5-1d23e564a81d.png)
    no-repeat center;
  background-size: cover;
  z-index: 24;
  border-radius: 50%;
}
.image-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 6px;
  position: relative;
  width: 100px;
  padding: 7px 12px 7px 12px;
  background: linear-gradient(90deg, #00feff, #003ec1);
  z-index: 25;
  border-radius: 110px;
}
.fi {
  flex-shrink: 0;
  position: relative;
  width: 16px;
  height: 16px;
  background: url(https://static.codia.ai/image/2025-03-12/b76e6410-5b4f-45d0-9b93-17cc4b440953.svg)
    no-repeat center;
  background-size: cover;
  z-index: 26;
  overflow: hidden;
}
.get-pro {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 22px;
  color: #ffffff;
  font-family: Urbanist, var(--default-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 27;
}
.frame-4 {
  position: absolute;
  width: 398px;
  height: 196px;
  top: 288.18px;
  left: 50%;
  background: #c4f53f;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transform: translate(-35.11%, 0);
  z-index: 28;
  overflow: hidden;
  border-radius: 32px;
  box-sizing: content-box;
}
.vector {
  position: absolute;
  width: 326.983px;
  height: 327.824px;
  top: -159px;
  left: 231px;
  background: url(https://static.codia.ai/image/2025-03-12/e5763739-c266-401b-8f82-71dfcfc69599.svg)
    no-repeat center;
  background-size: cover;
  z-index: 30;
}
.image-5 {
  position: absolute;
  width: 398px;
  height: 196px;
  top: 0;
  left: 0;
  background: url(https://static.codia.ai/image/2025-03-12/4c4806f3-61b5-4c7e-bd02-2e4547f70851.png)
    no-repeat center;
  background-size: cover;
  z-index: 29;
}
.frame-6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 16px;
  position: absolute;
  width: 203px;
  height: 135px;
  top: 50%;
  left: 24px;
  transform: translate(0, -50%);
  z-index: 31;
}
.frame-7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 203px;
  z-index: 32;
}
.transform-your-photos {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 203px;
  height: 54px;
  color: #ffffff;
  font-family: Urbanist, var(--default-font-family);
  font-size: 19px;
  font-weight: 700;
  line-height: 26.6px;
  text-align: left;
  text-transform: capitalize;
  z-index: 33;
}
.transform-your-photos-8 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 184px;
  height: 21px;
  color: rgba(255, 255, 255, 0.7);
  font-family: Urbanist, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 34;
}
.image-9 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 137px;
  padding: 10px 20px 10px 20px;
  background: linear-gradient(90deg, #00feff, #003ec1);
  z-index: 35;
  border-radius: 110px;
}
.explore-features {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 16px;
  color: #ffffff;
  font-family: Urbanist, var(--default-font-family);
  font-size: 13px;
  font-weight: 700;
  line-height: 15.6px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 36;
}
.group-a {
  position: absolute;
  width: 188px;
  height: 263.382px;
  top: 464.18px;
  left: 50%;
  transform: translate(-17.94%, 0);
  z-index: 83;
  border-radius: 16px;
}
.flex-column-fd {
  position: absolute;
  width: 92px;
  height: 224px;
  top: 50%;
  left: 50%;
  transform: translate(2.17%, -58.79%);
  z-index: 86;
}
.image-b {
  position: relative;
  width: 92px;
  height: 98px;
  margin: 0 0 0 0;
  background: url(https://static.codia.ai/image/2025-03-12/5170fb72-35e4-4335-b033-c8cd70f3eedd.png)
    no-repeat center;
  background-size: cover;
  z-index: 84;
  border-radius: 16px;
}
.image-c {
  position: relative;
  width: 70px;
  height: 83px;
  margin: 43px 0 0 8px;
  background: url(https://static.codia.ai/image/2025-03-12/5fb807e2-5ad2-43c5-b2c5-72e5b630e535.png)
    no-repeat center;
  background-size: cover;
  z-index: 86;
  border-radius: 16px;
}
.flex-column-da {
  position: absolute;
  width: 76px;
  height: 226px;
  top: 50%;
  left: 50%;
  transform: translate(-123.68%, -41.73%);
  z-index: 87;
}
.image-d {
  position: relative;
  width: 67px;
  height: 96px;
  margin: 0 0 0 0;
  background: url(https://static.codia.ai/image/2025-03-12/15ba7752-7b29-4b27-b210-ac110fdb041e.png)
    no-repeat center;
  background-size: cover;
  z-index: 85;
  border-radius: 16px;
}
.image-e {
  position: relative;
  width: 55px;
  height: 79px;
  margin: 51px 0 0 21px;
  background: url(https://static.codia.ai/image/2025-03-12/8071331a-7f40-4f75-8624-19d6dba2a5e3.png)
    no-repeat center;
  background-size: cover;
  z-index: 87;
  border-radius: 16px;
}
.frame-f {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
  position: absolute;
  width: 351px;
  height: 161px;
  top: 522.18px;
  left: 158.561px;
  z-index: 88;
}
.group-10 {
  flex-shrink: 0;
  position: relative;
  width: 64px;
  height: 64px;
  background: url(https://static.codia.ai/image/2025-03-12/0a89b193-0aaf-4dc1-9f4c-3d0f903dc1d5.png)
    no-repeat center;
  background-size: cover;
  z-index: 89;
}
.frame-11 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  min-width: 0;
  z-index: 90;
}
.generating-by-ai-12 {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 31px;
  color: #ffffff;
  font-family: Urbanist, var(--default-font-family);
  font-size: 22px;
  font-weight: 700;
  line-height: 30.8px;
  text-align: center;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 91;
}
.create-stunning-images {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 237px;
  height: 38px;
  color: rgba(255, 255, 255, 0.7);
  font-family: Urbanist, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: center;
  text-transform: capitalize;
  z-index: 92;
}
.flex-row-fd {
  position: absolute;
  top: 403.323px;
  right: -215.492px;
  bottom: -185.057px;
  left: -538px;
  z-index: 71;
}
.group-13 {
  position: absolute;
  width: 173px;
  height: 218px;
  top: 0;
  left: 924px;
  z-index: 48;
}
.image-14 {
  position: absolute;
  width: 173px;
  height: 203px;
  top: 0;
  left: 0;
  background: url(https://static.codia.ai/image/2025-03-12/ffc3989c-3f27-47b0-9f8f-6d24a8fe3e99.png)
    no-repeat center;
  background-size: cover;
  z-index: 49;
  border-radius: 20px;
}
.frame-15 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 4px;
  position: absolute;
  width: 102px;
  height: 30px;
  top: 188px;
  left: 36px;
  padding: 8px 16px 8px 16px;
  background: rgba(255, 255, 255, 0.09);
  border: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 50;
  border-radius: 110px;
  backdrop-filter: blur(11px);
}
.ai-technology {
  flex-shrink: 0;
  position: relative;
  width: 12px;
  height: 12px;
  background: url(https://static.codia.ai/image/2025-03-12/5bdac3f3-41d8-468e-b5f7-420dbe95e18f.svg)
    no-repeat center;
  background-size: cover;
  z-index: 51;
  overflow: hidden;
}
.ai-generate {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 14px;
  color: #ffffff;
  font-family: Urbanist, var(--default-font-family);
  font-size: 10px;
  font-weight: 500;
  line-height: 14px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 52;
}
.group-16 {
  position: absolute;
  width: 173px;
  height: 218px;
  top: 0.01px;
  left: 739px;
  z-index: 43;
}
.image-17 {
  position: absolute;
  width: 173px;
  height: 203px;
  top: 0;
  left: 0;
  background: url(https://static.codia.ai/image/2025-03-12/9a537817-2612-434e-92e8-93a1bb69cd3d.png)
    no-repeat center;
  background-size: cover;
  z-index: 44;
  border-radius: 20px;
}
.frame-18 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 4px;
  position: absolute;
  width: 91px;
  height: 30px;
  top: 188px;
  left: 41px;
  padding: 8px 16px 8px 16px;
  background: rgba(255, 255, 255, 0.09);
  border: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 45;
  border-radius: 110px;
  backdrop-filter: blur(11px);
}
.ai-technology-19 {
  flex-shrink: 0;
  position: relative;
  width: 12px;
  height: 12px;
  background: url(https://static.codia.ai/image/2025-03-12/fc585668-ff37-40bc-9f87-0039f24fd951.svg)
    no-repeat center;
  background-size: cover;
  z-index: 46;
  overflow: hidden;
}
.d-image {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 14px;
  color: #ffffff;
  font-family: Urbanist, var(--default-font-family);
  font-size: 10px;
  font-weight: 500;
  line-height: 14px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 47;
}
.image-1a {
  position: absolute;
  width: 173px;
  height: 203px;
  top: 0.33px;
  left: 554px;
  background: url(https://static.codia.ai/image/2025-03-12/503f5733-a872-44fa-b316-be33f6e1e991.png)
    no-repeat center;
  background-size: cover;
  z-index: 39;
  border-radius: 20px;
}
.frame-1b {
  position: absolute;
  width: 391.879px;
  height: 284.546px;
  top: 84.677px;
  left: 50%;
  transform: translate(-151%, 0) rotate(-5.37deg);
  z-index: 1;
  border-radius: 45px;
}
.group-1c {
  position: absolute;
  width: 391.879px;
  height: 284.546px;
  top: 0;
  left: 0;
  z-index: 2;
}
.frame-1d {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 60px;
  position: relative;
  width: 339.22px;
  margin: 26.142px 0 0 26.142px;
  z-index: 4;
}
.frame-1e {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 326.578px;
  z-index: 5;
}
.frame-1f {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  width: 178.233px;
  z-index: 6;
}
.image-20 {
  flex-shrink: 0;
  position: relative;
  width: 69.712px;
  height: 69.712px;
  background: url(https://static.codia.ai/image/2025-03-12/707b6b2d-6af6-4c0a-a5ca-920759b22c99.png)
    no-repeat center;
  background-size: cover;
  z-index: 7;
  border-radius: 50%;
}
.frame-21 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 4px;
  position: relative;
  width: 96.618px;
  z-index: 8;
}
.msft {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 30.612px;
  color: #ffffff;
  font-family: Urbanist, var(--default-font-family);
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
  text-align: left;
  white-space: nowrap;
  z-index: 9;
}
.microsoft-corp {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 94.183px;
  height: 25.634px;
  color: #818181;
  font-family: Urbanist, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
  text-align: left;
  z-index: 10;
}
.group-22 {
  flex-shrink: 0;
  position: relative;
  width: 69.712px;
  height: 69.712px;
  background: url(https://static.codia.ai/image/2025-03-12/ce734f1a-b03e-41f4-bd06-f115cb7a40ac.png)
    no-repeat center;
  background-size: cover;
  z-index: 11;
}
.frame-23 {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  z-index: 12;
}
.frame-24 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 176.276px;
  z-index: 13;
}
.dollar {
  flex-shrink: 0;
  position: relative;
  width: 173.748px;
  font-family: Urbanist, var(--default-font-family);
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 14;
}
.dollar-amount {
  position: relative;
  color: #ffffff;
  font-family: Urbanist, var(--default-font-family);
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
}
.dot {
  position: relative;
  color: #818181;
  font-family: Urbanist, var(--default-font-family);
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
}
.dollar-percentage {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 93.188px;
  height: 25.541px;
  color: #73ff2d;
  font-family: Urbanist, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
  text-align: left;
  z-index: 15;
}
.group-25 {
  flex-shrink: 0;
  position: relative;
  width: 82.324px;
  height: 63.004px;
  background: url(https://static.codia.ai/image/2025-03-12/a88fd6e0-7d5f-42a8-8da0-4ac6591f8265.svg)
    no-repeat center;
  background-size: cover;
  z-index: 16;
}
.rectangle-26 {
  position: absolute;
  width: 391.879px;
  height: 284.546px;
  top: 0;
  left: 0;
  background: url(https://static.codia.ai/image/2025-03-12/12214def-aaeb-4cdc-b0ea-368be9da92ba.svg)
    no-repeat center;
  background-size: cover;
  z-index: 3;
  backdrop-filter: blur(17px);
}
.frame-27 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 4px;
  position: absolute;
  width: 102.766px;
  height: 32.719px;
  top: 186.943px;
  left: 594.019px;
  padding: 8px 16px 8px 16px;
  background: rgba(255, 255, 255, 0.020000000000000004);
  border: 1px solid rgba(255, 255, 255, 0.1);
  transform: rotate(-1.53deg);
  z-index: 40;
  border-radius: 110px;
  backdrop-filter: blur(11px);
}
.ai-technology-28 {
  flex-shrink: 0;
  position: relative;
  width: 12.317px;
  height: 12.317px;
  background: url(https://static.codia.ai/image/2025-03-12/1a8ca326-efdd-4321-9e4f-bf2adb796dc7.svg)
    no-repeat center;
  background-size: cover;
  z-index: 41;
  overflow: hidden;
}
.ai-generate-29 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 15.44px;
  color: #ffffff;
  font-family: Urbanist, var(--default-font-family);
  font-size: 10px;
  font-weight: 500;
  line-height: 14px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 42;
}
.categories {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  top: 244.598px;
  left: 554px;
  color: #ffffff;
  font-family: Urbanist, var(--default-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 37;
}
.frame-2a {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 12px;
  position: absolute;
  width: 543px;
  height: 203.078px;
  top: 282.598px;
  left: 554px;
  z-index: 54;
}
.group-2b {
  flex-shrink: 0;
  position: relative;
  width: 173px;
  height: 203px;
  z-index: 55;
}
.frame-2c {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 4px;
  position: relative;
  width: 110px;
  margin: 160.078px 0 0 12px;
  padding: 8px 16px 8px 16px;
  background: rgba(255, 255, 255, 0.09);
  border: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 57;
  border-radius: 110px;
  backdrop-filter: blur(11px);
}
.ai-technology-2d {
  flex-shrink: 0;
  position: relative;
  width: 12px;
  height: 12px;
  background: url(https://static.codia.ai/image/2025-03-12/395b443b-3856-4c36-a6b4-4b54721a190a.svg)
    no-repeat center;
  background-size: cover;
  z-index: 58;
  overflow: hidden;
}
.tax-to-image {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 14px;
  color: #ffffff;
  font-family: Urbanist, var(--default-font-family);
  font-size: 10px;
  font-weight: 500;
  line-height: 14px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 59;
}
.image-2e {
  position: absolute;
  width: 173px;
  height: 203px;
  top: 0;
  left: 0;
  background: url(https://static.codia.ai/image/2025-03-12/604211ae-2daa-477a-9ed7-c7e415eaae16.png)
    no-repeat center;
  background-size: cover;
  z-index: 56;
  border-radius: 20px;
}
.group-2f {
  flex-shrink: 0;
  position: relative;
  width: 173px;
  height: 203.078px;
  z-index: 60;
}
.frame-30 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 4px;
  position: relative;
  width: 104px;
  margin: 160.078px 0 0 12px;
  padding: 8px 16px 8px 16px;
  background: rgba(255, 255, 255, 0.09);
  border: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 62;
  border-radius: 110px;
  backdrop-filter: blur(11px);
}
.ai-technology-31 {
  flex-shrink: 0;
  position: relative;
  width: 12px;
  height: 12px;
  background: url(https://static.codia.ai/image/2025-03-12/b0744dcf-c488-4c14-9c5d-d6a69b5e5269.svg)
    no-repeat center;
  background-size: cover;
  z-index: 63;
  overflow: hidden;
}
.d-to-image {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 14px;
  color: #ffffff;
  font-family: Urbanist, var(--default-font-family);
  font-size: 10px;
  font-weight: 500;
  line-height: 14px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 64;
}
.group-32 {
  position: absolute;
  width: 173px;
  height: 203.078px;
  top: 0;
  left: 0;
  background: url(https://static.codia.ai/image/2025-03-12/a64b7cfa-0f12-4931-8fc9-872276e588a0.png)
    no-repeat center;
  background-size: cover;
  z-index: 61;
}
.group-33 {
  flex-shrink: 0;
  position: relative;
  width: 173px;
  height: 203px;
  z-index: 65;
}
.frame-34 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 4px;
  position: relative;
  width: 111px;
  margin: 160.078px 0 0 12px;
  padding: 8px 16px 8px 16px;
  background: rgba(255, 255, 255, 0.09);
  border: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 67;
  border-radius: 110px;
  backdrop-filter: blur(11px);
}
.ai-technology-35 {
  flex-shrink: 0;
  position: relative;
  width: 12px;
  height: 12px;
  background: url(https://static.codia.ai/image/2025-03-12/f804ac71-2a9c-45ac-8ec8-e587b42dbae0.svg)
    no-repeat center;
  background-size: cover;
  z-index: 68;
  overflow: hidden;
}
.generative-fill {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 14px;
  color: #ffffff;
  font-family: Urbanist, var(--default-font-family);
  font-size: 10px;
  font-weight: 500;
  line-height: 14px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 69;
}
.image-36 {
  position: absolute;
  width: 173px;
  height: 203px;
  top: 0;
  left: 0;
  background: url(https://static.codia.ai/image/2025-03-12/67f287f4-464a-47a1-872e-9fa0465ec703.png)
    no-repeat center;
  background-size: cover;
  z-index: 66;
  border-radius: 20px;
}
.ellipse-37 {
  position: absolute;
  width: 379.492px;
  height: 366.057px;
  top: 347.677px;
  left: 804px;
  background: url(https://static.codia.ai/image/2025-03-12/5fab3d4d-a36c-4ecf-ac49-9ff294c958ad.svg)
    no-repeat center;
  background-size: cover;
  filter: blur(72px);
  z-index: 70;
}
.nav {
  position: absolute;
  width: 336px;
  height: 78px;
  bottom: 201.057px;
  left: 50%;
  transform: translate(-2.01%, 0);
  z-index: 71;
}
.frame-38 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8px;
  position: relative;
  width: 312px;
  height: 54px;
  margin: 12px 0 0 12px;
  z-index: 73;
}
.frame-39 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10.941px;
  position: relative;
  width: 72px;
  height: 54.636px;
  padding: 15.318px 24.071px 15.318px 24.071px;
  background: url(https://static.codia.ai/image/2025-03-12/6d56489f-d0fb-4ef0-a467-bb4301139d4f.png)
    no-repeat center;
  background-size: cover;
  z-index: 74;
  overflow: hidden;
  border-radius: 12px;
}
.frame-3a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10.941px;
  position: relative;
  width: 72px;
  padding: 15.318px 24.071px 15.318px 24.071px;
  z-index: 75;
  overflow: hidden;
  border-radius: 26.26px;
  backdrop-filter: blur(16.248px);
}
.bold-design-tools {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  background: url(https://static.codia.ai/image/2025-03-12/1c1f2974-d5d3-4f25-8515-85bfd9d8803c.svg)
    no-repeat center;
  background-size: cover;
  z-index: 76;
  overflow: hidden;
  border-radius: 5px;
}
.frame-3b {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10.941px;
  position: relative;
  width: 72px;
  padding: 15.318px 24.071px 15.318px 24.071px;
  background: linear-gradient(90deg, #c16bda, #ff9776);
  z-index: 77;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.bold-time-clock {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  background: url(https://static.codia.ai/image/2025-03-12/34abe8c5-e2a4-421d-bf62-0e1db97fbcba.svg)
    no-repeat center;
  background-size: cover;
  z-index: 78;
  overflow: hidden;
}
.frame-3c {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10.941px;
  position: relative;
  width: 72px;
  padding: 15.318px 24.071px 15.318px 24.071px;
  z-index: 79;
  overflow: hidden;
  border-radius: 26.26px;
  backdrop-filter: blur(16.248px);
}
.bold-users-user {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  background: url(https://static.codia.ai/image/2025-03-12/0817cc00-348d-4eff-b469-7bbaae83cca2.svg)
    no-repeat center;
  background-size: cover;
  z-index: 80;
  overflow: hidden;
}
.rectangle-3d {
  position: absolute;
  width: 336px;
  height: 78px;
  top: 0;
  left: 50%;
  background: #000000;
  transform: translate(-50%, 0);
  z-index: 72;
  border-radius: 24px;
  backdrop-filter: blur(74px);
}
.rectangle-3e {
  position: absolute;
  width: 740px;
  height: 228px;
  bottom: -114px;
  left: -155px;
  background: url(https://static.codia.ai/image/2025-03-12/56d38ae1-5583-48d9-9413-eae20357900e.png)
    no-repeat center;
  background-size: cover;
  filter: blur(42px);
  z-index: 82;
}
.rectangle-3f {
  display: flex;
  align-items: flex-start;
  position: absolute;
  width: 112px;
  height: 103px;
  bottom: 0;
  left: 369px;
  background: #010101;
  filter: blur(42px);
  z-index: -Infinity;
}
